
.createtask_container
{
    width: 510px;
    height: 100%;
    padding: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 0 4px 1px #d5d5d5;
    bottom: 0;
    left: -510px;
    z-index: 3;
    //right:0;
    transition:0.3s;
    overflow-y: scroll;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
    .createtask_body
    {
        .createtask_header
        {
            .createtask_title
            {
                text-align: left;
                font-size: 1.1rem;
                font-weight: 600;
                color: #3d3b47;
            }
            .createtask_instruction
            {
                text-align: left;
                font-size: 0.8rem;
                color: #bac1c3;
                padding: 10px;
            }
        }
        .createtask_content
        {
            form {
                width: 100%;
                display:flex;
                flex-direction: column;
                row-gap: 20px;
                 .form_item_group
                {
                    display:flex;                       
                    flex-direction: column;
                    row-gap: 10px;
                    .title_label
                    {
                        text-align: left;
                        font-weight: 600;
                        font-size: 0.9rem;
                    }
                    .group_colors
                    {
                        display:flex;
                        flex-wrap: wrap;
                        gap:5px;
                    }
                }
                .selectgroup_container
                {
                    display:flex;
                    column-gap: 30px;
                    justify-content: space-between;
                    .form_item_group
                    {
                        flex:1;
                        display:flex;                       
                        flex-direction: column;
                        row-gap: 10px;
                        .title_label
                        {
                            text-align: left;
                            font-weight: 600;
                            font-size: 0.9rem;
                        }
                    }
                }
                .date_time_group
                    {
                        display:flex;
                        column-gap: 30px;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        .form_item_group
                        {
                            flex:1;
                            display:flex;                       
                            flex-direction: column;
                            row-gap: 10px;
                            .title_label
                            {
                                text-align: left;
                                font-weight: 600;
                                font-size: 0.9rem;
                            }
                            .btn_add_date
                            {
                                width: 100%;
                                background-color: #f8fafb;
                                display:flex;
                                justify-content: space-between;
                                padding: 8px 10px;
                                color: #707581;
                                border: 1px solid #707581;
                            }
                        }
                        .time_container
                        {
                            flex:1;
                            display: flex;
                            flex-direction: column;
                            row-gap: 10px;
                            align-items: center;
                            position:relative;
                            &>span {
                                display:block;
                                width:100%;
                                color: #424251;
                                font-weight: 600;
                                font-size: 0.9rem;
                                text-align: left;
                            }
                            .custom_time_picker
                            {
                                input {
                                    font-size: 1rem;
                                    color: #424251;
                                    padding: 10px;
                                    
                                }
                                button {
                                    padding-left: 0;
                                    visibility: hidden;
                                }
                            }    
                        }
                    }
                .btn_group
                {
                    display:flex;
                    justify-content: flex-end;
                    column-gap: 15px;
                    .btn_create,
                    .btn_cancel {
                        text-transform: capitalize;
                        min-width: 100px;
                    }
                    .btn_create
                    {
                        color: #fff;
                        background-color: #48a6a6;
                    }
                    .btn_cancel
                    {
                        color: #000;
                        border: 1px solid #eeedf0;
                    }
                }
            }
        }
    }
}
.createtask_container.isVisible {
    background-color: #ffffff;
    left: 0;
    z-index: 10;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}